.particle {
  position: absolute;
  border-radius: 50%;
}

@-webkit-keyframes particle-animation-1 {
  100% {
    transform: translate3d(55vw, 98vh, 47px);
  }
}

@keyframes particle-animation-1 {
  100% {
    transform: translate3d(55vw, 98vh, 47px);
  }
}
.particle:nth-child(1) {
  -webkit-animation: particle-animation-1 50s infinite;
          animation: particle-animation-1 50s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.04;
  -webkit-animation-delay: -300ms;
          animation-delay: -300ms;
  background: #d9cd26;
  transform: translate3d(8vw, 43vh, 3px);
}

@-webkit-keyframes particle-animation-2 {
  100% {
    transform: translate3d(91vw, 59vh, 68px);
  }
}

@keyframes particle-animation-2 {
  100% {
    transform: translate3d(91vw, 59vh, 68px);
  }
}
.particle:nth-child(2) {
  -webkit-animation: particle-animation-2 50s infinite;
          animation: particle-animation-2 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.88;
  -webkit-animation-delay: -600ms;
          animation-delay: -600ms;
  background: #26bbd9;
  transform: translate3d(62vw, 76vh, 36px);
}

@-webkit-keyframes particle-animation-3 {
  100% {
    transform: translate3d(52vw, 100vh, 89px);
  }
}

@keyframes particle-animation-3 {
  100% {
    transform: translate3d(52vw, 100vh, 89px);
  }
}
.particle:nth-child(3) {
  -webkit-animation: particle-animation-3 50s infinite;
          animation: particle-animation-3 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.08;
  -webkit-animation-delay: -900ms;
          animation-delay: -900ms;
  background: #d92677;
  transform: translate3d(24vw, 100vh, 2px);
}

@-webkit-keyframes particle-animation-4 {
  100% {
    transform: translate3d(7vw, 30vh, 91px);
  }
}

@keyframes particle-animation-4 {
  100% {
    transform: translate3d(7vw, 30vh, 91px);
  }
}
.particle:nth-child(4) {
  -webkit-animation: particle-animation-4 50s infinite;
          animation: particle-animation-4 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.36;
  -webkit-animation-delay: -1200ms;
          animation-delay: -1200ms;
  background: #d92926;
  transform: translate3d(81vw, 24vh, 1px);
}

@-webkit-keyframes particle-animation-5 {
  100% {
    transform: translate3d(25vw, 83vh, 82px);
  }
}

@keyframes particle-animation-5 {
  100% {
    transform: translate3d(25vw, 83vh, 82px);
  }
}
.particle:nth-child(5) {
  -webkit-animation: particle-animation-5 50s infinite;
          animation: particle-animation-5 50s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.69;
  -webkit-animation-delay: -1500ms;
          animation-delay: -1500ms;
  background: #bed926;
  transform: translate3d(40vw, 95vh, 11px);
}

@-webkit-keyframes particle-animation-6 {
  100% {
    transform: translate3d(27vw, 24vh, 7px);
  }
}

@keyframes particle-animation-6 {
  100% {
    transform: translate3d(27vw, 24vh, 7px);
  }
}
.particle:nth-child(6) {
  -webkit-animation: particle-animation-6 50s infinite;
          animation: particle-animation-6 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.45;
  -webkit-animation-delay: -1800ms;
          animation-delay: -1800ms;
  background: #26d9c7;
  transform: translate3d(82vw, 92vh, 4px);
}

@-webkit-keyframes particle-animation-7 {
  100% {
    transform: translate3d(92vw, 4vh, 52px);
  }
}

@keyframes particle-animation-7 {
  100% {
    transform: translate3d(92vw, 4vh, 52px);
  }
}
.particle:nth-child(7) {
  -webkit-animation: particle-animation-7 50s infinite;
          animation: particle-animation-7 50s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.84;
  -webkit-animation-delay: -2100ms;
          animation-delay: -2100ms;
  background: #2697d9;
  transform: translate3d(59vw, 48vh, 42px);
}

@-webkit-keyframes particle-animation-8 {
  100% {
    transform: translate3d(63vw, 91vh, 36px);
  }
}

@keyframes particle-animation-8 {
  100% {
    transform: translate3d(63vw, 91vh, 36px);
  }
}
.particle:nth-child(8) {
  -webkit-animation: particle-animation-8 50s infinite;
          animation: particle-animation-8 50s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.39;
  -webkit-animation-delay: -2400ms;
          animation-delay: -2400ms;
  background: #26cdd9;
  transform: translate3d(90vw, 29vh, 63px);
}

@-webkit-keyframes particle-animation-9 {
  100% {
    transform: translate3d(96vw, 100vh, 50px);
  }
}

@keyframes particle-animation-9 {
  100% {
    transform: translate3d(96vw, 100vh, 50px);
  }
}
.particle:nth-child(9) {
  -webkit-animation: particle-animation-9 50s infinite;
          animation: particle-animation-9 50s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.91;
  -webkit-animation-delay: -2700ms;
          animation-delay: -2700ms;
  background: #a6d926;
  transform: translate3d(17vw, 31vh, 79px);
}

@-webkit-keyframes particle-animation-10 {
  100% {
    transform: translate3d(94vw, 27vh, 20px);
  }
}

@keyframes particle-animation-10 {
  100% {
    transform: translate3d(94vw, 27vh, 20px);
  }
}
.particle:nth-child(10) {
  -webkit-animation: particle-animation-10 50s infinite;
          animation: particle-animation-10 50s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.98;
  -webkit-animation-delay: -3000ms;
          animation-delay: -3000ms;
  background: #d92671;
  transform: translate3d(49vw, 80vh, 4px);
}

@-webkit-keyframes particle-animation-11 {
  100% {
    transform: translate3d(24vw, 80vh, 62px);
  }
}

@keyframes particle-animation-11 {
  100% {
    transform: translate3d(24vw, 80vh, 62px);
  }
}
.particle:nth-child(11) {
  -webkit-animation: particle-animation-11 50s infinite;
          animation: particle-animation-11 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.9;
  -webkit-animation-delay: -3300ms;
          animation-delay: -3300ms;
  background: #d926d3;
  transform: translate3d(82vw, 75vh, 47px);
}

@-webkit-keyframes particle-animation-12 {
  100% {
    transform: translate3d(50vw, 99vh, 63px);
  }
}

@keyframes particle-animation-12 {
  100% {
    transform: translate3d(50vw, 99vh, 63px);
  }
}
.particle:nth-child(12) {
  -webkit-animation: particle-animation-12 50s infinite;
          animation: particle-animation-12 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.12;
  -webkit-animation-delay: -3600ms;
          animation-delay: -3600ms;
  background: #af26d9;
  transform: translate3d(96vw, 29vh, 37px);
}

@-webkit-keyframes particle-animation-13 {
  100% {
    transform: translate3d(22vw, 96vh, 49px);
  }
}

@keyframes particle-animation-13 {
  100% {
    transform: translate3d(22vw, 96vh, 49px);
  }
}
.particle:nth-child(13) {
  -webkit-animation: particle-animation-13 50s infinite;
          animation: particle-animation-13 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.97;
  -webkit-animation-delay: -3900ms;
          animation-delay: -3900ms;
  background: #d9c426;
  transform: translate3d(28vw, 47vh, 15px);
}

@-webkit-keyframes particle-animation-14 {
  100% {
    transform: translate3d(53vw, 30vh, 46px);
  }
}

@keyframes particle-animation-14 {
  100% {
    transform: translate3d(53vw, 30vh, 46px);
  }
}
.particle:nth-child(14) {
  -webkit-animation: particle-animation-14 50s infinite;
          animation: particle-animation-14 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.66;
  -webkit-animation-delay: -4200ms;
          animation-delay: -4200ms;
  background: #3b26d9;
  transform: translate3d(85vw, 67vh, 43px);
}

@-webkit-keyframes particle-animation-15 {
  100% {
    transform: translate3d(19vw, 73vh, 42px);
  }
}

@keyframes particle-animation-15 {
  100% {
    transform: translate3d(19vw, 73vh, 42px);
  }
}
.particle:nth-child(15) {
  -webkit-animation: particle-animation-15 50s infinite;
          animation: particle-animation-15 50s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.75;
  -webkit-animation-delay: -4500ms;
          animation-delay: -4500ms;
  background: #6526d9;
  transform: translate3d(52vw, 4vh, 82px);
}

@-webkit-keyframes particle-animation-16 {
  100% {
    transform: translate3d(33vw, 21vh, 74px);
  }
}

@keyframes particle-animation-16 {
  100% {
    transform: translate3d(33vw, 21vh, 74px);
  }
}
.particle:nth-child(16) {
  -webkit-animation: particle-animation-16 50s infinite;
          animation: particle-animation-16 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.2;
  -webkit-animation-delay: -4800ms;
          animation-delay: -4800ms;
  background: #3b26d9;
  transform: translate3d(11vw, 14vh, 31px);
}

@-webkit-keyframes particle-animation-17 {
  100% {
    transform: translate3d(28vw, 36vh, 52px);
  }
}

@keyframes particle-animation-17 {
  100% {
    transform: translate3d(28vw, 36vh, 52px);
  }
}
.particle:nth-child(17) {
  -webkit-animation: particle-animation-17 50s infinite;
          animation: particle-animation-17 50s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.35;
  -webkit-animation-delay: -5100ms;
          animation-delay: -5100ms;
  background: #26d935;
  transform: translate3d(71vw, 25vh, 22px);
}

@-webkit-keyframes particle-animation-18 {
  100% {
    transform: translate3d(56vw, 15vh, 34px);
  }
}

@keyframes particle-animation-18 {
  100% {
    transform: translate3d(56vw, 15vh, 34px);
  }
}
.particle:nth-child(18) {
  -webkit-animation: particle-animation-18 50s infinite;
          animation: particle-animation-18 50s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.93;
  -webkit-animation-delay: -5400ms;
          animation-delay: -5400ms;
  background: #6226d9;
  transform: translate3d(53vw, 6vh, 85px);
}

@-webkit-keyframes particle-animation-19 {
  100% {
    transform: translate3d(84vw, 23vh, 51px);
  }
}

@keyframes particle-animation-19 {
  100% {
    transform: translate3d(84vw, 23vh, 51px);
  }
}
.particle:nth-child(19) {
  -webkit-animation: particle-animation-19 50s infinite;
          animation: particle-animation-19 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.21;
  -webkit-animation-delay: -5700ms;
          animation-delay: -5700ms;
  background: #d97426;
  transform: translate3d(27vw, 78vh, 12px);
}

@-webkit-keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 96vh, 23px);
  }
}

@keyframes particle-animation-20 {
  100% {
    transform: translate3d(54vw, 96vh, 23px);
  }
}
.particle:nth-child(20) {
  -webkit-animation: particle-animation-20 50s infinite;
          animation: particle-animation-20 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.51;
  -webkit-animation-delay: -6000ms;
          animation-delay: -6000ms;
  background: #26d953;
  transform: translate3d(16vw, 4vh, 78px);
}

@-webkit-keyframes particle-animation-21 {
  100% {
    transform: translate3d(96vw, 43vh, 86px);
  }
}

@keyframes particle-animation-21 {
  100% {
    transform: translate3d(96vw, 43vh, 86px);
  }
}
.particle:nth-child(21) {
  -webkit-animation: particle-animation-21 50s infinite;
          animation: particle-animation-21 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.23;
  -webkit-animation-delay: -6300ms;
          animation-delay: -6300ms;
  background: #a0d926;
  transform: translate3d(94vw, 25vh, 12px);
}

@-webkit-keyframes particle-animation-22 {
  100% {
    transform: translate3d(50vw, 66vh, 85px);
  }
}

@keyframes particle-animation-22 {
  100% {
    transform: translate3d(50vw, 66vh, 85px);
  }
}
.particle:nth-child(22) {
  -webkit-animation: particle-animation-22 50s infinite;
          animation: particle-animation-22 50s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.05;
  -webkit-animation-delay: -6600ms;
          animation-delay: -6600ms;
  background: #2626d9;
  transform: translate3d(44vw, 30vh, 19px);
}

@-webkit-keyframes particle-animation-23 {
  100% {
    transform: translate3d(9vw, 54vh, 16px);
  }
}

@keyframes particle-animation-23 {
  100% {
    transform: translate3d(9vw, 54vh, 16px);
  }
}
.particle:nth-child(23) {
  -webkit-animation: particle-animation-23 50s infinite;
          animation: particle-animation-23 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.32;
  -webkit-animation-delay: -6900ms;
          animation-delay: -6900ms;
  background: #d92671;
  transform: translate3d(72vw, 43vh, 74px);
}

@-webkit-keyframes particle-animation-24 {
  100% {
    transform: translate3d(40vw, 53vh, 92px);
  }
}

@keyframes particle-animation-24 {
  100% {
    transform: translate3d(40vw, 53vh, 92px);
  }
}
.particle:nth-child(24) {
  -webkit-animation: particle-animation-24 50s infinite;
          animation: particle-animation-24 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.18;
  -webkit-animation-delay: -7200ms;
          animation-delay: -7200ms;
  background: #2f26d9;
  transform: translate3d(58vw, 49vh, 89px);
}

@-webkit-keyframes particle-animation-25 {
  100% {
    transform: translate3d(20vw, 29vh, 51px);
  }
}

@keyframes particle-animation-25 {
  100% {
    transform: translate3d(20vw, 29vh, 51px);
  }
}
.particle:nth-child(25) {
  -webkit-animation: particle-animation-25 50s infinite;
          animation: particle-animation-25 50s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.01;
  -webkit-animation-delay: -7500ms;
          animation-delay: -7500ms;
  background: #d9d926;
  transform: translate3d(83vw, 39vh, 17px);
}

@-webkit-keyframes particle-animation-26 {
  100% {
    transform: translate3d(50vw, 16vh, 64px);
  }
}

@keyframes particle-animation-26 {
  100% {
    transform: translate3d(50vw, 16vh, 64px);
  }
}
.particle:nth-child(26) {
  -webkit-animation: particle-animation-26 50s infinite;
          animation: particle-animation-26 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.46;
  -webkit-animation-delay: -7800ms;
          animation-delay: -7800ms;
  background: #d9263e;
  transform: translate3d(71vw, 37vh, 47px);
}

@-webkit-keyframes particle-animation-27 {
  100% {
    transform: translate3d(58vw, 25vh, 11px);
  }
}

@keyframes particle-animation-27 {
  100% {
    transform: translate3d(58vw, 25vh, 11px);
  }
}
.particle:nth-child(27) {
  -webkit-animation: particle-animation-27 50s infinite;
          animation: particle-animation-27 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.79;
  -webkit-animation-delay: -8100ms;
          animation-delay: -8100ms;
  background: #26d971;
  transform: translate3d(71vw, 94vh, 3px);
}

@-webkit-keyframes particle-animation-28 {
  100% {
    transform: translate3d(97vw, 68vh, 3px);
  }
}

@keyframes particle-animation-28 {
  100% {
    transform: translate3d(97vw, 68vh, 3px);
  }
}
.particle:nth-child(28) {
  -webkit-animation: particle-animation-28 50s infinite;
          animation: particle-animation-28 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.6;
  -webkit-animation-delay: -8400ms;
          animation-delay: -8400ms;
  background: #d92685;
  transform: translate3d(76vw, 63vh, 71px);
}

@-webkit-keyframes particle-animation-29 {
  100% {
    transform: translate3d(39vw, 30vh, 81px);
  }
}

@keyframes particle-animation-29 {
  100% {
    transform: translate3d(39vw, 30vh, 81px);
  }
}
.particle:nth-child(29) {
  -webkit-animation: particle-animation-29 50s infinite;
          animation: particle-animation-29 50s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.64;
  -webkit-animation-delay: -8700ms;
          animation-delay: -8700ms;
  background: #d926cd;
  transform: translate3d(15vw, 77vh, 1px);
}

@-webkit-keyframes particle-animation-30 {
  100% {
    transform: translate3d(64vw, 19vh, 50px);
  }
}

@keyframes particle-animation-30 {
  100% {
    transform: translate3d(64vw, 19vh, 50px);
  }
}
.particle:nth-child(30) {
  -webkit-animation: particle-animation-30 50s infinite;
          animation: particle-animation-30 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.5;
  -webkit-animation-delay: -9000ms;
          animation-delay: -9000ms;
  background: #d926af;
  transform: translate3d(25vw, 70vh, 35px);
}

@-webkit-keyframes particle-animation-31 {
  100% {
    transform: translate3d(42vw, 29vh, 17px);
  }
}

@keyframes particle-animation-31 {
  100% {
    transform: translate3d(42vw, 29vh, 17px);
  }
}
.particle:nth-child(31) {
  -webkit-animation: particle-animation-31 50s infinite;
          animation: particle-animation-31 50s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.64;
  -webkit-animation-delay: -9300ms;
          animation-delay: -9300ms;
  background: #26d9a9;
  transform: translate3d(7vw, 55vh, 73px);
}

@-webkit-keyframes particle-animation-32 {
  100% {
    transform: translate3d(24vw, 12vh, 60px);
  }
}

@keyframes particle-animation-32 {
  100% {
    transform: translate3d(24vw, 12vh, 60px);
  }
}
.particle:nth-child(32) {
  -webkit-animation: particle-animation-32 50s infinite;
          animation: particle-animation-32 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.37;
  -webkit-animation-delay: -9600ms;
          animation-delay: -9600ms;
  background: #d93b26;
  transform: translate3d(4vw, 86vh, 100px);
}

@-webkit-keyframes particle-animation-33 {
  100% {
    transform: translate3d(51vw, 82vh, 43px);
  }
}

@keyframes particle-animation-33 {
  100% {
    transform: translate3d(51vw, 82vh, 43px);
  }
}
.particle:nth-child(33) {
  -webkit-animation: particle-animation-33 50s infinite;
          animation: particle-animation-33 50s infinite;
  height: 12px;
  width: 12px;
  opacity: 0.09;
  -webkit-animation-delay: -9900ms;
          animation-delay: -9900ms;
  background: #26d9c4;
  transform: translate3d(14vw, 60vh, 51px);
}

@-webkit-keyframes particle-animation-34 {
  100% {
    transform: translate3d(58vw, 41vh, 70px);
  }
}

@keyframes particle-animation-34 {
  100% {
    transform: translate3d(58vw, 41vh, 70px);
  }
}
.particle:nth-child(34) {
  -webkit-animation: particle-animation-34 50s infinite;
          animation: particle-animation-34 50s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.87;
  -webkit-animation-delay: -10200ms;
          animation-delay: -10200ms;
  background: #d92685;
  transform: translate3d(48vw, 30vh, 75px);
}

@-webkit-keyframes particle-animation-35 {
  100% {
    transform: translate3d(94vw, 61vh, 83px);
  }
}

@keyframes particle-animation-35 {
  100% {
    transform: translate3d(94vw, 61vh, 83px);
  }
}
.particle:nth-child(35) {
  -webkit-animation: particle-animation-35 50s infinite;
          animation: particle-animation-35 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.31;
  -webkit-animation-delay: -10500ms;
          animation-delay: -10500ms;
  background: #268bd9;
  transform: translate3d(1vw, 40vh, 79px);
}

@-webkit-keyframes particle-animation-36 {
  100% {
    transform: translate3d(25vw, 32vh, 74px);
  }
}

@keyframes particle-animation-36 {
  100% {
    transform: translate3d(25vw, 32vh, 74px);
  }
}
.particle:nth-child(36) {
  -webkit-animation: particle-animation-36 50s infinite;
          animation: particle-animation-36 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.82;
  -webkit-animation-delay: -10800ms;
          animation-delay: -10800ms;
  background: #d97d26;
  transform: translate3d(50vw, 37vh, 28px);
}

@-webkit-keyframes particle-animation-37 {
  100% {
    transform: translate3d(91vw, 53vh, 54px);
  }
}

@keyframes particle-animation-37 {
  100% {
    transform: translate3d(91vw, 53vh, 54px);
  }
}
.particle:nth-child(37) {
  -webkit-animation: particle-animation-37 50s infinite;
          animation: particle-animation-37 50s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.92;
  -webkit-animation-delay: -11100ms;
          animation-delay: -11100ms;
  background: #26d9b5;
  transform: translate3d(14vw, 76vh, 62px);
}

@-webkit-keyframes particle-animation-38 {
  100% {
    transform: translate3d(72vw, 30vh, 8px);
  }
}

@keyframes particle-animation-38 {
  100% {
    transform: translate3d(72vw, 30vh, 8px);
  }
}
.particle:nth-child(38) {
  -webkit-animation: particle-animation-38 50s infinite;
          animation: particle-animation-38 50s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.62;
  -webkit-animation-delay: -11400ms;
          animation-delay: -11400ms;
  background: #26d0d9;
  transform: translate3d(35vw, 21vh, 17px);
}

@-webkit-keyframes particle-animation-39 {
  100% {
    transform: translate3d(63vw, 39vh, 10px);
  }
}

@keyframes particle-animation-39 {
  100% {
    transform: translate3d(63vw, 39vh, 10px);
  }
}
.particle:nth-child(39) {
  -webkit-animation: particle-animation-39 50s infinite;
          animation: particle-animation-39 50s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.82;
  -webkit-animation-delay: -11700ms;
          animation-delay: -11700ms;
  background: #cd26d9;
  transform: translate3d(84vw, 81vh, 28px);
}

@-webkit-keyframes particle-animation-40 {
  100% {
    transform: translate3d(89vw, 28vh, 48px);
  }
}

@keyframes particle-animation-40 {
  100% {
    transform: translate3d(89vw, 28vh, 48px);
  }
}
.particle:nth-child(40) {
  -webkit-animation: particle-animation-40 50s infinite;
          animation: particle-animation-40 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.35;
  -webkit-animation-delay: -12000ms;
          animation-delay: -12000ms;
  background: #26cad9;
  transform: translate3d(26vw, 74vh, 35px);
}

@-webkit-keyframes particle-animation-41 {
  100% {
    transform: translate3d(46vw, 42vh, 44px);
  }
}

@keyframes particle-animation-41 {
  100% {
    transform: translate3d(46vw, 42vh, 44px);
  }
}
.particle:nth-child(41) {
  -webkit-animation: particle-animation-41 50s infinite;
          animation: particle-animation-41 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.49;
  -webkit-animation-delay: -12300ms;
          animation-delay: -12300ms;
  background: #d97126;
  transform: translate3d(78vw, 64vh, 53px);
}

@-webkit-keyframes particle-animation-42 {
  100% {
    transform: translate3d(13vw, 65vh, 70px);
  }
}

@keyframes particle-animation-42 {
  100% {
    transform: translate3d(13vw, 65vh, 70px);
  }
}
.particle:nth-child(42) {
  -webkit-animation: particle-animation-42 50s infinite;
          animation: particle-animation-42 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.32;
  -webkit-animation-delay: -12600ms;
          animation-delay: -12600ms;
  background: #2644d9;
  transform: translate3d(41vw, 47vh, 18px);
}

@-webkit-keyframes particle-animation-43 {
  100% {
    transform: translate3d(70vw, 89vh, 97px);
  }
}

@keyframes particle-animation-43 {
  100% {
    transform: translate3d(70vw, 89vh, 97px);
  }
}
.particle:nth-child(43) {
  -webkit-animation: particle-animation-43 50s infinite;
          animation: particle-animation-43 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.35;
  -webkit-animation-delay: -12900ms;
          animation-delay: -12900ms;
  background: #218FFF;
  transform: translate3d(77vw, 37vh, 44px);
}

@-webkit-keyframes particle-animation-44 {
  100% {
    transform: translate3d(97vw, 1vh, 96px);
  }
}

@keyframes particle-animation-44 {
  100% {
    transform: translate3d(97vw, 1vh, 96px);
  }
}
.particle:nth-child(44) {
  -webkit-animation: particle-animation-44 50s infinite;
          animation: particle-animation-44 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.07;
  -webkit-animation-delay: -13200ms;
          animation-delay: -13200ms;
  background: #218FFF;
  transform: translate3d(62vw, 43vh, 25px);
}

@-webkit-keyframes particle-animation-45 {
  100% {
    transform: translate3d(30vw, 68vh, 65px);
  }
}

@keyframes particle-animation-45 {
  100% {
    transform: translate3d(30vw, 68vh, 65px);
  }
}
.particle:nth-child(45) {
  -webkit-animation: particle-animation-45 50s infinite;
          animation: particle-animation-45 50s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.03;
  -webkit-animation-delay: -13500ms;
          animation-delay: -13500ms;
  background: #26c1d9;
  transform: translate3d(27vw, 72vh, 37px);
}

@-webkit-keyframes particle-animation-46 {
  100% {
    transform: translate3d(42vw, 55vh, 64px);
  }
}

@keyframes particle-animation-46 {
  100% {
    transform: translate3d(42vw, 55vh, 64px);
  }
}
.particle:nth-child(46) {
  -webkit-animation: particle-animation-46 50s infinite;
          animation: particle-animation-46 50s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.93;
  -webkit-animation-delay: -13800ms;
          animation-delay: -13800ms;
  background: #7426d9;
  transform: translate3d(50vw, 79vh, 47px);
}

@-webkit-keyframes particle-animation-47 {
  100% {
    transform: translate3d(9vw, 23vh, 76px);
  }
}

@keyframes particle-animation-47 {
  100% {
    transform: translate3d(9vw, 23vh, 76px);
  }
}
.particle:nth-child(47) {
  -webkit-animation: particle-animation-47 50s infinite;
          animation: particle-animation-47 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.66;
  -webkit-animation-delay: -14100ms;
          animation-delay: -14100ms;
  background: #218FFF;
  transform: translate3d(75vw, 25vh, 18px);
}

@-webkit-keyframes particle-animation-48 {
  100% {
    transform: translate3d(19vw, 48vh, 51px);
  }
}

@keyframes particle-animation-48 {
  100% {
    transform: translate3d(19vw, 48vh, 51px);
  }
}
.particle:nth-child(48) {
  -webkit-animation: particle-animation-48 50s infinite;
          animation: particle-animation-48 50s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.1;
  -webkit-animation-delay: -14400ms;
          animation-delay: -14400ms;
  background: #218FFF;
  transform: translate3d(95vw, 11vh, 55px);
}

@-webkit-keyframes particle-animation-49 {
  100% {
    transform: translate3d(66vw, 24vh, 21px);
  }
}

@keyframes particle-animation-49 {
  100% {
    transform: translate3d(66vw, 24vh, 21px);
  }
}
.particle:nth-child(49) {
  -webkit-animation: particle-animation-49 50s infinite;
          animation: particle-animation-49 50s infinite;
  height: 13px;
  width: 13px;
  opacity: 0.81;
  -webkit-animation-delay: -14700ms;
          animation-delay: -14700ms;
  background: #218FFF;
  transform: translate3d(56vw, 54vh, 94px);
}

@-webkit-keyframes particle-animation-50 {
  100% {
    transform: translate3d(25vw, 80vh, 30px);
  }
}

@keyframes particle-animation-50 {
  100% {
    transform: translate3d(25vw, 80vh, 30px);
  }
}
.particle:nth-child(50) {
  -webkit-animation: particle-animation-50 50s infinite;
          animation: particle-animation-50 50s infinite;
  height: 8px;
  width: 8px;
  opacity: 0.8;
  -webkit-animation-delay: -15000ms;
          animation-delay: -15000ms;
  background: #218FFF;
  transform: translate3d(59vw, 66vh, 11px);
}

@-webkit-keyframes particle-animation-51 {
  100% {
    transform: translate3d(3vw, 8vh, 63px);
  }
}

@keyframes particle-animation-51 {
  100% {
    transform: translate3d(3vw, 8vh, 63px);
  }
}
.particle:nth-child(51) {
  -webkit-animation: particle-animation-51 50s infinite;
          animation: particle-animation-51 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.05;
  -webkit-animation-delay: -15300ms;
          animation-delay: -15300ms;
  background: #218FFF;
  transform: translate3d(76vw, 100vh, 30px);
}

@-webkit-keyframes particle-animation-52 {
  100% {
    transform: translate3d(97vw, 55vh, 92px);
  }
}

@keyframes particle-animation-52 {
  100% {
    transform: translate3d(97vw, 55vh, 92px);
  }
}
.particle:nth-child(52) {
  -webkit-animation: particle-animation-52 50s infinite;
          animation: particle-animation-52 50s infinite;
  height: 14px;
  width: 14px;
  opacity: 0.04;
  -webkit-animation-delay: -15600ms;
          animation-delay: -15600ms;
  background: #d92632;
  transform: translate3d(98vw, 33vh, 59px);
}

@-webkit-keyframes particle-animation-53 {
  100% {
    transform: translate3d(29vw, 3vh, 46px);
  }
}

@keyframes particle-animation-53 {
  100% {
    transform: translate3d(29vw, 3vh, 46px);
  }
}
.particle:nth-child(53) {
  -webkit-animation: particle-animation-53 50s infinite;
          animation: particle-animation-53 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.74;
  -webkit-animation-delay: -15900ms;
          animation-delay: -15900ms;
  background: #4dd926;
  transform: translate3d(10vw, 21vh, 7px);
}

@-webkit-keyframes particle-animation-54 {
  100% {
    transform: translate3d(38vw, 4vh, 60px);
  }
}

@keyframes particle-animation-54 {
  100% {
    transform: translate3d(38vw, 4vh, 60px);
  }
}
.particle:nth-child(54) {
  -webkit-animation: particle-animation-54 50s infinite;
          animation: particle-animation-54 50s infinite;
  height: 11px;
  width: 11px;
  opacity: 0.96;
  -webkit-animation-delay: -16200ms;
          animation-delay: -16200ms;
  background: #d9ac26;
  transform: translate3d(59vw, 81vh, 92px);
}

@-webkit-keyframes particle-animation-55 {
  100% {
    transform: translate3d(91vw, 67vh, 29px);
  }
}

@keyframes particle-animation-55 {
  100% {
    transform: translate3d(91vw, 67vh, 29px);
  }
}
.particle:nth-child(55) {
  -webkit-animation: particle-animation-55 50s infinite;
          animation: particle-animation-55 50s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.43;
  -webkit-animation-delay: -16500ms;
          animation-delay: -16500ms;
  background: #4426d9;
  transform: translate3d(43vw, 19vh, 37px);
}

@-webkit-keyframes particle-animation-56 {
  100% {
    transform: translate3d(73vw, 84vh, 70px);
  }
}

@keyframes particle-animation-56 {
  100% {
    transform: translate3d(73vw, 84vh, 70px);
  }
}
.particle:nth-child(56) {
  -webkit-animation: particle-animation-56 50s infinite;
          animation: particle-animation-56 50s infinite;
  height: 7px;
  width: 7px;
  opacity: 0.26;
  -webkit-animation-delay: -16800ms;
          animation-delay: -16800ms;
  background: #4426d9;
  transform: translate3d(39vw, 72vh, 20px);
}

@-webkit-keyframes particle-animation-57 {
  100% {
    transform: translate3d(85vw, 99vh, 90px);
  }
}

@keyframes particle-animation-57 {
  100% {
    transform: translate3d(85vw, 99vh, 90px);
  }
}
.particle:nth-child(57) {
  -webkit-animation: particle-animation-57 50s infinite;
          animation: particle-animation-57 50s infinite;
  height: 15px;
  width: 15px;
  opacity: 0.28;
  -webkit-animation-delay: -17100ms;
          animation-delay: -17100ms;
  background: #d926b5;
  transform: translate3d(78vw, 84vh, 13px);
}

@-webkit-keyframes particle-animation-58 {
  100% {
    transform: translate3d(85vw, 75vh, 74px);
  }
}

@keyframes particle-animation-58 {
  100% {
    transform: translate3d(85vw, 75vh, 74px);
  }
}
.particle:nth-child(58) {
  -webkit-animation: particle-animation-58 50s infinite;
          animation: particle-animation-58 50s infinite;
  height: 9px;
  width: 9px;
  opacity: 0.48;
  -webkit-animation-delay: -17400ms;
          animation-delay: -17400ms;
  background: #d9d026;
  transform: translate3d(93vw, 66vh, 72px);
}

@-webkit-keyframes particle-animation-59 {
  100% {
    transform: translate3d(11vw, 10vh, 33px);
  }
}

@keyframes particle-animation-59 {
  100% {
    transform: translate3d(11vw, 10vh, 33px);
  }
}
.particle:nth-child(59) {
  -webkit-animation: particle-animation-59 50s infinite;
          animation: particle-animation-59 50s infinite;
  height: 10px;
  width: 10px;
  opacity: 0.1;
  -webkit-animation-delay: -17700ms;
          animation-delay: -17700ms;
  background: #a326d9;
  transform: translate3d(95vw, 7vh, 55px);
}

@-webkit-keyframes particle-animation-60 {
  100% {
    transform: translate3d(37vw, 94vh, 96px);
  }
}

@keyframes particle-animation-60 {
  100% {
    transform: translate3d(37vw, 94vh, 96px);
  }
}
.particle:nth-child(60) {
  -webkit-animation: particle-animation-60 50s infinite;
          animation: particle-animation-60 50s infinite;
  height: 6px;
  width: 6px;
  opacity: 0.29;
  -webkit-animation-delay: -18000ms;
          animation-delay: -18000ms;
  background: #b5d926;
  transform: translate3d(81vw, 19vh, 95px);
}